appdirs==1.4.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.7.4
importlib_metadata==8.2.0
pyee==11.1.0
pyppeteer==2.0.0
soupsieve==2.5
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==1.26.19
websockets==10.4
zipp==3.20.0
